## 과제
- mpg 데이터에 메서드 적용
- 원리 설명

##### 참고 https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

In [1]:
import pandas as pd

In [2]:
mpg = pd.read_csv('../mpg.csv')

In [3]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [4]:
# 데이터프레임에서 하나의 열 시리즈로 추출
mpg_cty = mpg['cty']

In [5]:
mpg_cty

0      18
1      21
2      20
3      21
4      16
       ..
229    19
230    21
231    16
232    18
233    17
Name: cty, Length: 234, dtype: int64

In [6]:
type(mpg_cty)

pandas.core.series.Series

In [7]:
mpg_hwy = mpg['hwy']

In [8]:
mpg_hwy

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

1. 시리즈에 사용하는 메서드(1.index 2.values 3.keys)

In [9]:
mpg.index # index

RangeIndex(start=0, stop=234, step=1)

In [10]:
mpg.values # values

array([['audi', 'a4', 1.8, ..., 29, 'p', 'compact'],
       ['audi', 'a4', 1.8, ..., 29, 'p', 'compact'],
       ['audi', 'a4', 2.0, ..., 31, 'p', 'compact'],
       ...,
       ['volkswagen', 'passat', 2.8, ..., 26, 'p', 'midsize'],
       ['volkswagen', 'passat', 2.8, ..., 26, 'p', 'midsize'],
       ['volkswagen', 'passat', 3.6, ..., 26, 'p', 'midsize']],
      dtype=object)

In [11]:
mpg.keys # keys

<bound method NDFrame.keys of     manufacturer   model  displ  year  cyl       trans drv  cty  hwy fl  \
0           audi      a4    1.8  1999    4    auto(l5)   f   18   29  p
1           audi      a4    1.8  1999    4  manual(m5)   f   21   29  p
2           audi      a4    2.0  2008    4  manual(m6)   f   20   31  p
3           audi      a4    2.0  2008    4    auto(av)   f   21   30  p
4           audi      a4    2.8  1999    6    auto(l5)   f   16   26  p
..           ...     ...    ...   ...  ...         ...  ..  ...  ... ..
229   volkswagen  passat    2.0  2008    4    auto(s6)   f   19   28  p
230   volkswagen  passat    2.0  2008    4  manual(m6)   f   21   29  p
231   volkswagen  passat    2.8  1999    6    auto(l5)   f   16   26  p
232   volkswagen  passat    2.8  1999    6  manual(m5)   f   18   26  p
233   volkswagen  passat    3.6  2008    6    auto(s6)   f   17   26  p

    category
0    compact
1    compact
2    compact
3    compact
4    compact
..       ...
229  midsize
230  midsize
231  midsize
232  midsize
233  midsize

[234 rows x 11 columns]>

In [12]:
mpg_cty.index

RangeIndex(start=0, stop=234, step=1)

In [13]:
mpg_cty.values

array([18, 21, 20, 21, 16, 18, 18, 18, 16, 20, 19, 15, 17, 17, 15, 15, 17,
       16, 14, 11, 14, 13, 12, 16, 15, 16, 15, 15, 14, 11, 11, 14, 19, 22,
       18, 18, 17, 18, 17, 16, 16, 17, 17, 11, 15, 15, 16, 16, 15, 14, 13,
       14, 14, 14,  9, 11, 11, 13, 13,  9, 13, 11, 13, 11, 12,  9, 13, 13,
       12,  9, 11, 11, 13, 11, 11, 11, 12, 14, 15, 14, 13, 13, 13, 14, 14,
       13, 13, 13, 11, 13, 18, 18, 17, 16, 15, 15, 15, 15, 14, 28, 24, 25,
       23, 24, 26, 25, 24, 21, 18, 18, 21, 21, 18, 18, 19, 19, 19, 20, 20,
       17, 16, 17, 17, 15, 15, 14,  9, 14, 13, 11, 11, 12, 12, 11, 11, 11,
       12, 14, 13, 13, 13, 21, 19, 23, 23, 19, 19, 18, 19, 19, 14, 15, 14,
       12, 18, 16, 17, 18, 16, 18, 18, 20, 19, 20, 18, 21, 19, 19, 19, 20,
       20, 19, 20, 15, 16, 15, 15, 16, 14, 21, 21, 21, 21, 18, 18, 19, 21,
       21, 21, 22, 18, 18, 18, 24, 24, 26, 28, 26, 11, 13, 15, 16, 17, 15,
       15, 15, 16, 21, 19, 21, 22, 17, 33, 21, 19, 22, 21, 21, 21, 16, 17,
       35, 29, 21, 19, 20, 20, 21, 18, 19, 21, 16, 18, 17], dtype=int64)

In [14]:
mpg_cty.keys

<bound method Series.keys of 0      18
1      21
2      20
3      21
4      16
       ..
229    19
230    21
231    16
232    18
233    17
Name: cty, Length: 234, dtype: int64>

2. append 2개 이상의 시리즈 연결

In [15]:
# Series
mpg_cty.append(mpg_hwy)

0      18
1      21
2      20
3      21
4      16
       ..
229    28
230    29
231    26
232    26
233    26
Length: 468, dtype: int64

3. describe 요약 통계

In [16]:
# DataFrame
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [17]:
# Series
mpg_cty.describe()

count    234.000000
mean      16.858974
std        4.255946
min        9.000000
25%       14.000000
50%       17.000000
75%       19.000000
max       35.000000
Name: cty, dtype: float64

4. drop_duplicates 중복 값이 없는 시리즈 반환

In [18]:
# DataFrame
mpg.drop_duplicates()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [19]:
# Series
mpg_cty.drop_duplicates()

0      18
1      21
2      20
4      16
10     19
11     15
12     17
18     14
19     11
21     13
22     12
33     22
54      9
99     28
100    24
101    25
102    23
104    26
212    33
221    35
222    29
Name: cty, dtype: int64

In [20]:
mpg.drop_duplicates(subset=['manufacturer']) # To remove duplicates on specific column(s), use subset.

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
37,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
74,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
108,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
122,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv
134,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
137,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
141,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
154,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
159,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
173,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact

In [21]:
mpg.drop_duplicates(subset=['manufacturer','year'])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
37,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
41,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
74,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
76,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
104,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
108,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
110,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
122,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv
124,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv
131,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv
134,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
136,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
137,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
138,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
141,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
143,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
154,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
157,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
159,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
161,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
173,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
177,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact

In [22]:
mpg.drop_duplicates(subset=['manufacturer','year'], keep='last') #To remove duplicates and keep last occurrences, use keep.

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
34,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
36,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
72,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
73,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup
95,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact
98,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact
103,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
107,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
116,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact
121,hyundai,tiburon,2.7,2008,6,manual(m5),f,17,24,r,subcompact
125,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv
129,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
132,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
133,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv
136,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
139,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
140,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv
151,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv
153,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
158,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
168,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
204,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [23]:
# Series
mpg_cty.drop_duplicates()

0      18
1      21
2      20
4      16
10     19
11     15
12     17
18     14
19     11
21     13
22     12
33     22
54      9
99     28
100    24
101    25
102    23
104    26
212    33
221    35
222    29
Name: cty, dtype: int64

In [24]:
mpg_hwy.drop_duplicates()

0      29
2      31
3      30
4      26
6      27
8      25
9      28
15     24
17     23
18     20
19     15
21     17
28     19
29     14
39     22
45     21
49     18
54     12
61     16
99     33
100    32
104    34
105    36
195    35
196    37
212    44
222    41
Name: hwy, dtype: int64

5. equals 시리즈에 해당 값이 있는지 확인

In [25]:
mpg_cty.equals(mpg_hwy)

False

6. get_values 시리즈 값 구하기( =values )
- to_numpy()

In [26]:
mpg_cty.to_numpy()

array([18, 21, 20, 21, 16, 18, 18, 18, 16, 20, 19, 15, 17, 17, 15, 15, 17,
       16, 14, 11, 14, 13, 12, 16, 15, 16, 15, 15, 14, 11, 11, 14, 19, 22,
       18, 18, 17, 18, 17, 16, 16, 17, 17, 11, 15, 15, 16, 16, 15, 14, 13,
       14, 14, 14,  9, 11, 11, 13, 13,  9, 13, 11, 13, 11, 12,  9, 13, 13,
       12,  9, 11, 11, 13, 11, 11, 11, 12, 14, 15, 14, 13, 13, 13, 14, 14,
       13, 13, 13, 11, 13, 18, 18, 17, 16, 15, 15, 15, 15, 14, 28, 24, 25,
       23, 24, 26, 25, 24, 21, 18, 18, 21, 21, 18, 18, 19, 19, 19, 20, 20,
       17, 16, 17, 17, 15, 15, 14,  9, 14, 13, 11, 11, 12, 12, 11, 11, 11,
       12, 14, 13, 13, 13, 21, 19, 23, 23, 19, 19, 18, 19, 19, 14, 15, 14,
       12, 18, 16, 17, 18, 16, 18, 18, 20, 19, 20, 18, 21, 19, 19, 19, 20,
       20, 19, 20, 15, 16, 15, 15, 16, 14, 21, 21, 21, 21, 18, 18, 19, 21,
       21, 21, 22, 18, 18, 18, 24, 24, 26, 28, 26, 11, 13, 15, 16, 17, 15,
       15, 15, 16, 21, 19, 21, 22, 17, 33, 21, 19, 22, 21, 21, 21, 16, 17,
       35, 29, 21, 19, 20, 20, 21, 18, 19, 21, 16, 18, 17], dtype=int64)

In [27]:
mpg[mpg['manufacturer']=='hyundai']['cty'].to_numpy()

array([18, 18, 21, 21, 18, 18, 19, 19, 19, 20, 20, 17, 16, 17],
      dtype=int64)

7. isin 시리즈에 포함된 값이 있는지

In [28]:
mpg['manufacturer'].isin(['audi'])

0       True
1       True
2       True
3       True
4       True
       ...
229    False
230    False
231    False
232    False
233    False
Name: manufacturer, Length: 234, dtype: bool

8. min, max, mean, median

In [29]:
mpg_cty.min()

9

In [30]:
mpg_cty.max()

35

In [31]:
mpg_cty.mean()

16.858974358974358

In [32]:
mpg_cty.median()

17.0

9. replace 특정 값을 가진 시리즈 값 교체

In [33]:
mpg['manufacturer'].replace('audi','**')

0              **
1              **
2              **
3              **
4              **
          ...
229    volkswagen
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
Name: manufacturer, Length: 234, dtype: object

10. sample 임의의 값 반환

In [34]:
mpg_cty.sample(n=10, random_state=1)

199    13
69      9
233    17
39     16
138    13
174    16
90     18
67     13
119    17
73     11
Name: cty, dtype: int64

In [35]:
mpg_hwy.sample(n=10, random_state=1)

199    18
69     12
233    26
39     22
138    19
174    20
90     26
67     17
119    24
73     15
Name: hwy, dtype: int64

11. sort_values 정렬

In [36]:
mpg_cty.sort_values()

59      9
54      9
69      9
65      9
126     9
       ..
99     28
196    28
222    29
212    33
221    35
Name: cty, Length: 234, dtype: int64

In [37]:
mpg_hwy.sort_values(ascending=False)

221    44
212    44
222    41
196    37
105    36
       ..
65     12
59     12
126    12
69     12
54     12
Name: hwy, Length: 234, dtype: int64

12. to_frame 시리즈 -> df로 반환

In [38]:
mpg_cty.to_frame()

     cty
0     18
1     21
2     20
3     21
4     16
..   ...
229   19
230   21
231   16
232   18
233   17

[234 rows x 1 columns]

In [39]:
mpg_hwy.to_frame()

     hwy
0     29
1     29
2     31
3     30
4     26
..   ...
229   28
230   29
231   26
232   26
233   26

[234 rows x 1 columns]