# 판다스 dataframe & series

## 데이터프레임 만들기

In [1]:
import pandas as pd

In [2]:
df = pd.Series(['yk','hi',3])

In [3]:
df

0    yk
1    hi
2     3
dtype: object

In [4]:
# 인덱스 이용해 값 설정
df = pd.Series(['yk','hi',3],index=['name','a','b'])

In [5]:
df

name    yk
a       hi
b        3
dtype: object

In [13]:
# df 생성
df_st = pd.DataFrame({'name':['yk','hi'],
                     'b':['c','a'],
                     'age':[11,12],
                     'd':['dd','dddd']})

In [14]:
df_st

  name  b  age     d
0   yk  c   11    dd
1   hi  a   12  dddd

In [15]:
df_st_1 = pd.DataFrame({'name':['yk','hi'],
                     'b':['a','c'],
                     'age':[11,12],
                     'd':['dd','dddd']})

In [16]:
df_st_1

  name  b  age     d
0   yk  a   11    dd
1   hi  c   12  dddd

In [18]:
print(df_st)
print(df_st_1)

  name  b  age     d
0   yk  c   11    dd
1   hi  a   12  dddd
  name  b  age     d
0   yk  a   11    dd
1   hi  c   12  dddd

In [20]:
# df에서 시리즈 선택 방법
df_st_1['name']

0    yk
1    hi
Name: name, dtype: object

In [21]:
df_st_1.loc[:,'name']

0    yk
1    hi
Name: name, dtype: object

# 시리즈에 사용하는 메서드
- index
- values
- keys

# df에서 하나의 열 추출해 시리즈 형태로 반환되었을 때 사용 가능한 메서드
- 시리즈 메서드
- append 2개 이상의 시리즈 연결
- describe 요약 통계
- drop_duplicates 중복 값이 없는 시리즈 반환
- equals 시리즈에 해당 값이 있는지 확인
- get_values 시리즈 값 구하기( =values )
- isin 시리즈에 포함된 값이 있는지 
- min, max, mean, median
- replace 특정 값을 가진 시리즈 값 교체
- sample 임의의 값 반환
- sort_values 정렬
- to_frame 시리즈 -> df로 반환

In [23]:
df_st_1

  name  b  age     d
0   yk  a   11    dd
1   hi  c   12  dddd

In [22]:
df_st_1.index # index

RangeIndex(start=0, stop=2, step=1)

In [24]:
df_st_1.values # 속성 값

array([['yk', 'a', 11, 'dd'],
       ['hi', 'c', 12, 'dddd']], dtype=object)

In [26]:
df_st_1.keys() # 컬럼의 개념

Index(['name', 'b', 'age', 'd'], dtype='object')

In [28]:
df_st_1.keys()[3]

'd'

In [29]:
# 시리즈 값 자체로 mean, min, max, std 메서드 사용 가능

In [31]:
ages = df_st_1['age']

In [32]:
ages.min()

11

In [33]:
ages.describe()

count     2.000000
mean     11.500000
std       0.707107
min      11.000000
25%      11.250000
50%      11.500000
75%      11.750000
max      12.000000
Name: age, dtype: float64

In [34]:
ages.sort_values()

0    11
1    12
Name: age, dtype: int64

In [ ]:
# 시리즈에서 비교

In [36]:
mpg = pd.read_csv('../mpg.csv')

In [37]:
ctys=mpg['cty']

In [38]:
ctys[ctys>ctys.mean()] # 비교

0      18
1      21
2      20
3      21
5      18
       ..
228    18
229    19
230    21
232    18
233    17
Name: cty, Length: 118, dtype: int64

In [ ]:
# broadcasting : 한번에 연결

In [39]:
print(ctys+ctys)  # 시리즈끼리 연산

0      36
1      42
2      40
3      42
4      32
       ..
229    38
230    42
231    32
232    36
233    34
Name: cty, Length: 234, dtype: int64

In [40]:
print(ctys+100) # 값에 대해

0      118
1      121
2      120
3      121
4      116
      ...
229    119
230    121
231    116
232    118
233    117
Name: cty, Length: 234, dtype: int64

In [41]:
mpg['cty']+100

0      118
1      121
2      120
3      121
4      116
      ...
229    119
230    121
231    116
232    118
233    117
Name: cty, Length: 234, dtype: int64

In [ ]:
# df 다루기