## 과제
- mpg 데이터에 메서드 적용
- 원리 설명

In [1]:
import pandas as pd

In [3]:
mpg = pd.read_csv('../mpg.csv')

In [5]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [6]:
# 데이터프레임에서 하나의 열 추출
mpg_cty = mpg['cty']

In [8]:
mpg_cty

0      18
1      21
2      20
3      21
4      16
       ..
229    19
230    21
231    16
232    18
233    17
Name: cty, Length: 234, dtype: int64

In [10]:
type(mpg_cty)

pandas.core.series.Series

In [7]:
mpg_hwy = mpg['hwy']

In [9]:
mpg_hwy

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

In [11]:
mpg_cty.sort_values()

59      9
54      9
69      9
65      9
126     9
       ..
99     28
196    28
222    29
212    33
221    35
Name: cty, Length: 234, dtype: int64